body {
  margin: 5px;
  padding: 0;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  background: #1a73e8;
}

.container {
  border: 1px solid white;
  /* height: 1200px; */
  width: 1522px;
  border-radius: 20px;
  background-color: white;
  display: grid;
  gap: 0;
  margin: 0;
}

.firstbox {
  /* border: 1px solid black; */
  display: grid;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
}
#logoImage {
  margin-left: -380px;
  margin-top: -10px;
  margin-bottom: 50px;

}

#nation{
  /* margin-top: -40px; */
  font-size: 15px;
  font-weight: bold;
  margin-left: -190px;
}

#strong {
  color: #1a73e8;
  margin-top: -130px;
  margin-left: -90px;
  font-size: 27px;
}

#rightPara,small{
  margin-right: -140px;
}

.logo,
.right,
.center {
  text-align: center;
}

.logo p {
  margin: 0px;
  font-size: 8px;
  color: #000;
  /* padding: 20px; */
}

.center h1 {
  color: darkblue;
  margin: 0;
  font-size: 40px;
  text-align: center;
}

.right h3 {
  font-size: medium;
  margin: 0;
  color: #1a73e8;
  font-weight: bold;
}

.right small {
  font-size: 8px;
  color: #1a73e8;
}

.navbar{
  background-color: darkblue;
  color: white;
  height: 50px;
  margin: 10px;
  display: grid;
  grid-template-columns: 650px 100px 150px 100px 100px  40px 40px 40px 232px;
  text-align: center;
  flex-direction: column;
  font-size: small;
  border-radius: 10px;
  
}
.navbox {
  display: grid;
cursor: pointer;
  grid-auto-flow: column;
  align-items: center;
  /* gap: 2px; */
}

a{
  color: white;
  text-decoration: none;
  
}

select {
  width: 100px;
  justify-self: center;
}

#none,#none1{
    cursor: default;
}
#none,#none1:hover{
    background-color: darkblue;
    
}

.navbox:hover{
    background-color: black;
    color: white;
}

.imagebox{
    /* border: 1px solid black; */
    height: 230px;
    
    justify-self: center;
}

h1{
  font-size: 20px;
  margin-left: 15px;
  margin-top: 20px; 
  margin-bottom: -18px;        
}

#registration{
margin-left: 20px;
}


#userParagraph{
   margin-left: 150px;
   margin-right: 150px;
   margin-top: -20px;

}
.line {
  border: none;
  border-top: 1px solid lightgray; 
  margin:20px;
  margin-bottom: 40px;   
  margin-top: -17px;     
}

.userLine{
     border: none;
  border-top: 4px solid rgb(219, 143, 21);
  margin-bottom: 40px;   
  
}


#userInput{
    display: grid;
    margin-left: 300px;
    margin-right: 300px;
    gap: 15px;
    
}


input{
  border-color:lightgray;
  /* color: lightgray; */
width: 500px;
margin-left:300px;
margin-top: -40px;
gap: 10px;
padding: 10px;
border-radius: 5px;
font-weight:bold ;
}

#userSelect{
  font-weight: bold;
  border-color: gray;
border-radius: 5px;
  margin-top: -30px;
width: 520px;
margin-left: 200px;
padding: 10px;
}

.captcha-row {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
 margin-top: -18px;
  gap: 8px;
}

#captcha{
  margin-left: 35px;
}
#refresh{
  color: #051942;

}
.captcha {
  background: white;
  padding: 8px 12px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
  margin-left: 60px;
  justify-content: center;
  
}
#prove-that{
margin-left: 300px;
}
.captcha-row{
margin-left: 250px;
}

#generate{
  margin-left: 60px;
  width: 520px;
  padding: 10px;
  background-color: #051942;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.footer-line {
  border: none;
  border-top: 1px solid black; 
  margin:10px;  
  margin-top: 50px;
        
}
.lastline{
  height: 60px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;  
}

  img{
    cursor: pointer;
  }
  
#terms , #refresh{
  color: blue;
}

#ls2{
 font-size: small;
}